


body {
background-color: black;
}
#fourth{
    position: absolute;

height:2px;
left: 43%;
    top: 50%;
    right: 35%;
font-family:'Coda',cursive;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 204px;

color: #FFFFFF;
     
    
}
#first{
position: absolute;
width: 481px;
height: 301px;
top:
    bottom: 38.25px;
font-family: Crimson Pro;
font-style: normal;
font-weight: 200;
font-size: 48px;
line-height: 107px;

color: #FFFBFB;
}
#image{
    background-position: center; 
}

#second{
  position: absolute;
width: 481px;
height: 301px;
top: 400px;
font-family: Crimson Pro;
font-style: normal;
font-weight: 200;
font-size: 48px;
line-height: 107px;

color: #FFFFFF;
 
}
#third{
  position: absolute;
width: 481px;
height: 301px;
top: 800px;
font-family: Crimson Pro;
font-style: normal;
font-weight: 200;
font-size: 48px;
line-height: 107px;

color: #FFFFFF;  
}
.rectangle{
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: -30%;
width: 500px;

background: linear-gradient(10deg, #F41212 0%, rgba(196, 196, 196, 0) 100%);
border-radius: 12px;
}
body {
    background-image: url(732px-Broken_heart.svg.png);
        background-repeat: no-repeat;
   background-position: top;
    
}
